
<div class="container-fluid">
    
  

            <div class="container-fluid">
            <div class="">
			
        
			<h2 class="text-center">A propos</h2>
			

        	 <p>Notre mission est de permettre aux voyageurs d'effectuer leurs réservations sans tracaceries sur toute l'étendu du territoire nationale, ainsi que d'améliorer les services au sein des agences et de leurs accompagnés dans l'objectif de 
				 leurs missions.</p>	
        	  
        	 </div>  	
        	 </div> 
       
	
<div class="container-fluid">
		<div class="">
			
        
			<h2>1. Introduction</h2>

			<h2>1.1 Contrat</h2>
			

        	 <p>Lorsque vous utilisez nos services, vous acceptez l’intégralité des présentes conditions. Votre utilisation de nos services est également soumise à notre Politique relative à notre Politique de confidentialité, qui expliquent nos méthodes en matière de collecte, d’utilisation, de partage et de stockage de vos informations personnelles.

Vous reconnaissez qu’en vous inscrivant à nos services , en y accédant ou en les utilisant, vous acceptez de conclure un contrat qui vous engage légalement avec DB-Services. Si vous n’acceptez pas ce contrat, ne vous inscrivez pas et abstenez-vous d’accéder à nos Services et de les utiliser. Si vous souhaitez résilier ce contrat, vous pouvez le faire à tout moment en contactant l'administrateur et en n’utilisant plus nos Services.

Le présent Contrat s’applique à DB-Services.com, aux autres sites, applications, communications, services et membres en lien avec DB-Services proposés en vertu du présent Contrat,y compris la collection hors site de données pour ces services. Les utilisateurs de nos services inscrits sont 
   des “Membres” et les utilisateurs non inscrits sont des “Visiteurs”.

Vous concluez le présent Contrat avec DB-Services.

DB-Services contrôlera les données personnelles que vous avez fournies à nos Services, ou que nous avons collectées par le biais de nos Services, ou que nous avons traitées en relation avec nos Services.

Le présent Contrat s’applique aux Membres et aux Visiteurs.

En tant que Visiteur ou Membre de nos Services, la collecte, l’utilisation et le partage de vos données personnelles sont soumis à la présente Politique de confidentialité et à ses versions mises à jour.</p>	
        	  
        	 </div>  
        	  </div>

<div class="container-fluid">
		<div class="">
			
        
			<h2>1.2 Membres et Visiteurs</h2>
			

        	 <p>Lorsque vous vous inscrivez et vous associez au service DB-Services ou que vous devenez un utilisateur inscrit sur DB-Services, vous devenez un Membre. Si vous avez choisi de ne pas vous inscrire à nos Services, vous pouvez accéder à certaines fonctionnalités en tant que “Visiteur”.</p>	
        	  
        	 </div>  	
        	  </div>


<div class="container-fluid">
		<div class="">
			
        
			<h2>1.3 Modification</h2>
			

        	 <p>Nous pouvons apporter des modifications au Contrat.

Nous pouvons modifier ce Contrat, notre Politique de confidentialité de temps à autre. Si nous y apportons des modifications importantes, nous vous en informerons via nos Services, ou par d’autres moyens, pour vous donner l’opportunité d’examiner les modifications avant qu’elles prennent effet. Nous reconnaissons que les modifications ne peuvent pas être rétroactives. Si vous vous opposez à l’une quelconque des modifications, vous pouvez fermer votre compte. Si vous continuez à utiliser nos Services après la publication ou l’envoi d’un avis concernant les modifications que nous avons apportées aux présentes conditions, cela signifie que vous acceptez les conditions mises à jour à compter de leur date d’entrée en vigueur.
</p>	
        	  
        	 </div> 
        	  </div>


<div class="container-fluid">
		<div class="">
			
        
			<h2>2. Obligations</h2>
			<h2>2.1 Droit aux Services</h2>

        	 <p>Dans le cadre de ce Contrat, vous nous garantissez les choses suivantes :

Vous avez la capacité de conclure ce Contrat.

Pour utiliser les Services, vous devez : <br>
1- être titulaire d’un seul compte DB-Services à votre vrai nom ;<br>

2- ne pas avoir été interdit par DB-Services d’utiliser ses Services. La création d’un compte avec des informations erronées constitue une violation de nos conditions, notamment dans le cas de comptes enregistrés au nom de tiers.<br><br>

Toutefois, dans l’hypothèse où la loi exigerait que vous soyez plus âgé pour utiliser les services de DB-Services, l’âge minimal serait alors celui stipulé par la loi.
</p>	
        	  
        	 </div> 
        	  </div>


<div class="container-fluid">
		<div class="">
			
        
			<h2>2.2 Votre compte</h2>

        	 <p>
Vous garderez votre mot de passe secret.

Vous ne partagerez pas un compte avec une autre personne et vous respecterez nos règles et la loi.

Les membres sont des titulaires de compte. Vous acceptez de :<br><br>
1- utiliser un mot de passe fort et de le conserver de façon confidentielle ;<br>
2- ne pas transférer une ou plusieurs parties de votre compte (comme les relations) ;<br>
3- vous conformer à la loi et aux règles décrites dans la liste À faire et à ne pas faire et dans les Politiques de la communauté professionnelle. Vous êtes responsable de toute utilisation de votre compte à moins que vous ne le clôturiez ou que vous ne signaliez une utilisation abusive.<br><br>

En ce qui concerne les relations entre vous et autrui, votre compte vous appartient. Cependant, si vous utilisez des Services achetés pour vous par un tiers, l’acheteur du Service a le droit de contrôler les accès audit Service payant et d’obtenir des rapports sur son utilisation, mais il ne dispose d’aucun droit sur votre compte personnel.
</p>		  
        	 </div> 
        	  </div>



<div class="container-fluid">
		<div class="">
			
        
			<h2>2.3 Règlement</h2>

        	 <p>
Vous vous acquitterez de vos obligations de paiement et vous acceptez que nous stockions vos informations de paiement. Vous acceptez que des frais et taxes puissent être ajoutés à nos tarifs.

Tout remboursement est soumis à notre politique.

Si vous achetez l’un de nos Services payants, vous acceptez de nous payer les frais et taxes applicables et de respecter les conditions supplémentaires propres à ces Services payants. Tout défaut de paiement de ces frais entraînera la résiliation de vos Services payants. Vous acceptez également les éléments suivants :
L’ensemble de vos achats de Services sont soumis à la politique de remboursement de DB-Services.
Nous pouvons calculer les taxes que vous devez payer en fonction des données de facturation que vous nous fournissez au moment de l’achat.
Vous pouvez obtenir un exemplaire de votre facture via votre compte email.
</p>	
        	  
        	 </div>
        	  </div>



<div class="container-fluid">
		<div class="">
			
        
			<h2>2.4. Notifications et Messages</h2>

        	 <p>
Vous acceptez que nous vous communiquions des notifications et des messages via nos sites web, applications et les coordonnées que vous nous avez fournies. Si vos coordonnées ne sont pas à jour, des notifications importantes sont susceptibles de ne pas vous parvenir.<br><br>

Vous acceptez que nous vous communiquions des notifications et des messages par les moyens suivants : <br><br>
1- dans le Service;<br>
2- envoyés aux coordonnées que vous nous avez fournies (par exemple, adresse e-mail, numéro de mobile). Vous acceptez de tenir à jour vos coordonnés.<br>

</p>	
        	  
        	 </div>
        	  </div>


<div class="container-fluid">
		<div class="">
			
        
			<h2>2.5 Partage</h2>

        	 <p>
Nous n’avons aucune obligation de publier des informations ou du contenu sur notre Service. Nous pouvons supprimer toute information ou tout contenu avec ou sans préavis.
</p>	
        	  
        	 </div>
        	  </div>

<div class="container-fluid">
		<div class="">

	<h2>3. Droits et restrictions</h2>
	<h2>3.1 Votre octroi de licence à DB-Services</h2>

        	 <p>

Dans le cadre de la relation entre vous et DB-Services, vous restez propriétaire du contenu et des informations que vous soumettez sur les Services, et vous accordez uniquement à DB-Services et à ses sociétés affiliées (Les sociétés affiliées sont des sociétés qui nous contrôlent, que nous contrôlons ou qui se trouvent sous notre contrôle) la licence non exclusive suivante :

Un droit mondial, cessible et à partir duquel une sous-licence peut être accordée, d’utilisation, de copie, de modification, de distribution, de publication et de traitement des informations et du contenu que vous fournissez via nos Services et les services de tiers, sans autre consentement, préavis et/ou rémunération à votre égard ou à l’égard de tiers. Ces droits sont restreints de la manière suivante :

Nous vous demanderons votre accord si nous souhaitons donner à des tiers le droit de publier votre contenu hors des Services. Toutefois, si vous choisissez de partager votre post comme “Public” , nous activerons une fonctionnalité permettant aux autres Membres d’intégrer ce post public à des services tiers et nous permettrons à des moteurs de recherche de rendre ce contenu public accessible via leurs services. En savoir plus
Comme votre contenu et vos données vous appartiennent et que nous n’en avons que des droits non exclusifs, vous pouvez choisir de les mettre à la disposition d’autres personnes.
Vous et DB-Services acceptez que si le contenu inclut des données personnelles, celles-ci sont soumises à notre Politique de confidentialité.

Vous et DB-Services acceptez que nous puissions accéder aux informations et données personnelles que vous avez fournies, les stocker, les traiter et les utiliser conformément aux conditions de la Politique de confidentialité et à vos préférences.

En soumettant des suggestions  sur les Services à DB-Services, vous acceptez que nous puissions utiliser et partager (sans le faire obligatoirement) sans vous offrir de compensation financière.

Vous vous engagez à ne nous communiquer que des informations et du contenu que vous avez le droit de partager et à avoir un profil DB-Services véridique.

Vous vous engagez à ne fournir que du contenu et des données qui n’enfreignent aucune loi et ne violent les droits de personne (ni aucun droit de propriété intellectuelle). De même, vous garantissez la véracité des informations de votre profil. En application de la loi de certains pays, DB-Services peut être obligé de retirer des contenus et informations.
</p>	
        	  
        	 </div>
        	  </div>

<div class="container-fluid">
		<div class="">
			
        
			<h2>3.2 Disponibilité des Services</h2>

        	 <p>
Nous pouvons modifier ou mettre fin à un Service, ou modifier nos prix dans le futur.

Vous pouvez changer, suspendre ou discontinuer n’importe quel Service. Nous pouvons également modifier nos prix en vous avertissant préalablement dans un délai raisonnable dans la mesure autorisée par la loi.

Nous ne vous garantissons pas que nous stockerons ou continuerons à afficher les informations et le contenu que vous avez publiés. DB-Services n’est pas un Service de stockage. Vous acceptez qu’aucune obligation de stocker, de maintenir ou de vous fournir une copie des informations ou du contenu que vous ou d’autres personnes nous ont transmis ne nous incombe, sauf dans la mesure où la loi applicable l’impose et tel que décrit dans notre Politique de confidentialité.
</p>	
        	  
        	 </div>
        	  </div>

<div class="container-fluid">
		<div class="">
			
        
			<h2>3.3 Autres sites, contenus et applications</h2>

        	 <p>


Lors de votre utilisation des Services, vous pouvez être confronté à des informations et des contenus inexacts, partiels, différés, prêtant à confusion, illégaux, choquants ou autrement dommageables. De manière générale, DB-Services ne relit pas le contenu publié par ses Membres ou d’autres personnes. Vous reconnaissez que nous ne sommes pas responsables du contenu et des informations des tiers (y compris ceux des autres membres). Nous ne pouvons pas toujours empêcher cette utilisation abusive de nos Services et vous reconnaissez que nous ne sommes pas responsables dans ce cas. Vous acceptez également le risque que vous ou votre organisation soyez associés à tort à du contenu concernant des tiers lorsque nous informons vos relations et les personnes qui vous suivent que vous ou votre organisation avez été mentionnés dans l’actualité. Les Membres disposent de choix sur cette fonctionnalité.

DB-Services peut aider à connecter des Membres qui offrent leurs services à d’autres Membres recherchant ces services. DB-Services ne fournit pas et n’emploie personne pour fournir ces services. Vous reconnaissez que DB-Services ne supervise, ne dirige, ne contrôle ou ne surveille pas les Membres qui fournissent ces services et acceptez que DB-Serices n’est pas responsable de l’offre, de la fourniture ou de l’approvisionnement de ces services, DB-Services ne cautionne aucun Membre pour les services qu’il offre et rien ne peut créer de relation d’emploi, d’agence ou d’entreprise commune entre DB-Services et un Membre offrant des services. Si vous êtes un Membre offrant des services, vous déclarez et garantissez que vous possédez toutes les licences requises et que vous fournirez les services en suivant nos Politiques de la communauté professionnelle.

De même, DB-Services peut vous aider à vous inscrire. Vous acceptez que DB-Services ne soit pas responsable de la conduite des Membres ou autres participants, que DB-Services ne cautionne aucun des événements listés dans nos Services, que DB-Services ne contrôle ni ne vérifie aucun de ces événements et de vous conformer aux conditions qui s’appliquent à de tels événements.
</p>	
        	  
        	 </div>
        	  </div>


<div class="container-fluid">
		<div class="">
			
        
			<h2>3.4 Restrictions</h2>

        	 <p>

Nous avons le droit de restreindre la manière dont vous vous connectez et interagissez sur nos Services.

DB-Services se réserve le droit de limiter votre utilisation des Services. DB-Services se réserve le droit de restreindre, suspendre ou clôturer votre compte si vous ne respectez pas ce Contrat ou la loi ou que votre utilisation des Services est abusive (par exemple, si vous ne respectez pas les règles de l’article À faire et à ne pas faire ou des Politiques de la communauté professionnelle).
</p>	
		 </div>
 </div>
     

<div class="container-fluid">
		<div class="">
			
        
			<h2>3.5 Droits de propriété intellectuelle</h2>

        	 <p>

Nous vous informons de nos droits en matière de propriété intellectuelle.

DB-Services se réserve l’intégralité de ses droits de propriété intellectuelle liés aux Services. Les marques de commerce et logos utilisés en relation avec les Services appartiennent à leurs propriétaires respectifs. 
</p>	
		 </div>
 </div>
     
<div class="container-fluid">
		<div class="">
			
        
			<h2>3.6 Traitement automatisé</h2>

        	 <p>

Nous utilisons les données et informations vous concernant pour proposer, à vous et à des tiers, des suggestions pertinentes.

Nous utilisons les informations et données que vous fournissez et dont nous disposons pour vous proposer des recommandations de relations, de contenu et des fonctionnalités pouvant vous être utiles. Par exemple, nous utilisons des données et des informations vous concernant pour vous suggérer des membres à suivre et vous recommander auprès de professionnels. En maintenant les informations de votre profil à jour et exactes, vous nous aidez à rendre nos recommandations plus pertinentes.
</p>	
		 </div>
 </div>

<div class="container-fluid">
		<div class="">
			
        
			<h2>4. Exonération et limitation de responsabilité</h2>
			<h2>4.1 Absence de garantie</h2>

        	 <p>
Ceci constitue notre avis de non-responsabilité quant à la qualité, sûreté ou fiabilité de nos Services.

DB-Services ET SES SOCIÉTÉS AFFILIÉES NE FORMULENT AUCUNE DÉCLARATION ET NE DONNENT AUCUNE GARANTIE CONCERNANT LES SERVICES, Y COMPRIS QUE LES SERVICES NE SERONT PAS INTERROMPUS OU SANS ERREUR ET FOURNISSENT LES SERVICES (Y COMPRIS LE CONTENU ET LES INFORMATIONS) “EN L’ÉTAT” ET “SELON LES DISPONIBILITÉS”. DANS TOUTE LA MESURE PERMISE PAR LA LOI APPLICABLE, DB-Services ET SES SOCIÉTÉS AFFILIÉES REJETTENT TOUTE GARANTIE IMPLICITE OU LÉGALE, Y COMPRIS TOUTES LES GARANTIES IMPLICITES DE TITRE, D’EXACTITUDE DES DONNÉES, D’ABSENCE DE CONTREFAÇON, DE QUALITÉ MARCHANDE OU D’ADÉQUATION À UN USAGE PARTICULIER.
</p>	
		 </div>
 </div>

<div class="container-fluid">
		<div class="">
<h2>4.2 Exclusion de responsabilité</h2>
			

        	 <p>
Restrictions à notre responsabilité juridique envers vous.

DANS TOUTE LA MESURE PERMISE PAR LA LOI (ET À MOINS QUE DB-Services NE CONCLUE UN ACCORD ÉCRIT SÉPARÉ QUI ANNULE CE CONTRAT), DB-Services, Y COMPRIS SES SOCIÉTÉS AFFILIÉES, N’AURA AUCUNE RESPONSABILITÉ DÉCOULANT DE CE CONTRAT POUR DES PERTES DE BÉNÉFICES OU OPPORTUNITÉS COMMERCIALES PERDUES, LA RÉPUTATION (PAR EX. DES DÉCLARATIONS INSULTANTES OU DIFFAMATOIRES), LA PERTE DE DONNÉES (PAR EX. LES INTERRUPTIONS OU LES PERTES DE VOS DONNÉES OU DE VOTRE CONTENU, DE LEUR UTILISATION, OU DE CHANGEMENTS APPORTÉS) OU TOUS DOMMAGES INDIRECTS, FORTUITS, CONSÉCUTIFS, SPÉCIAUX OU PUNITIFS.

DB-Services ET SES SOCIÉTÉS AFFILIÉES N’AURONT PAS DE RESPONSABILITÉ ENVERS VOUS EN RELATION AVEC CE CONTRAT POUR DES MONTANTS QUI DÉPASSENT  LE MONTANT TOTAL DES FRAIS PAYÉS OU PAYABLES PAR VOUS À DB-Services POUR LES SERVICES PENDANT LA DURÉE DE CE CONTRAT, LE CAS ÉCHÉANT.
</p>	
		 </div>
 </div>


<div class="container-fluid">
		<div class="page-header">
<h2>4.3 Base des négociations et exclusions</h2>
			

        	 <p>
Les restrictions de responsabilité de cette section 4 s’inscrivent dans la base de négociation entre vous et DB-Services et s’applique à toutes les demandes de dédommagement (par exemple, garantie, responsabilité civile, négligence, contrat et droit) y compris si DB-Services ou ses sociétés affiliées ont été informées de l’éventualité d’un tel dommage, et même si ces recours en responsabilité ne remplissent pas leur ultime finalité.

Ces restrictions de responsabilité ne s’appliquent pas en cas de mort ou de blessure personnelle, de fraude, de négligence grave ou de faute intentionnelle, ou en cas de négligence due à la violation d’une obligation substantielle, une obligation assez substantielle pour en faire la condition préalable pour fournir des services et sur lesquels vous pouvez raisonnablement compter, mais uniquement dans la mesure où les dommages ont directement été causés par la violation et étaient prévisibles à la conclusion de ce Contrat et dans la mesure où ils sont typiques dans le contexte de ce Contrat.
</p>	
		 </div>
 </div>

<div class="container-fluid">
		<div class="">
<h2>5. Résiliation</h2>
			

        	 <p>
Les deux parties peuvent résilier ce Contrat, mais certains droits et obligations continueront d’exister.

Vous et DB-Services pouvez mettre fin à ce Contrat à tout moment en remettant un préavis à l’autre partie. Dès la résiliation, vous perdez le droit d’accès ou d’utilisation des Services. Les stipulations suivantes survivent à la résiliation :

les droits des Membres  à continuer de repartager le contenu et les informations que vous avez partagés par les Services ;
les articles 4, 6 et 8.2 de ce Contrat ;
toute somme due par l’une ou l’autre partie préalablement à la résiliation reste due après la résiliation.
</p>	
		 </div>
 </div>

<div class="container-fluid">
		<div class="page-header">
<h2>6. Droit applicable et règlement des litiges</h2>
			

        	 <p>
Dans le cas peu probable d’un différend d’ordre juridique survenant entre nous, Vous et DB-Services acceptez de le résoudre devant les juridictions du Congo en vertu du droit congolais.

Cette section ne peut en aucun cas vous priver des protections des consommateurs obligatoires en vertu de la législation du pays dans lequel vous obtenez les Services, c’est-à-dire où vous résidez habituellement.

Pour ceux qui sont situés en dehors du Congo,  vous et DB-Services acceptez que les lois de l’État du Congo, à l’exclusion de ses règles sur les conflits de lois, régissent exclusivement les litiges en lien avec le présent Contrat et/ou les Services.
</p>	
		 </div>
 </div>

<div class="container-fluid">
		<div class="">
<h2>7. Conditions d’ordre général</h2>
			

        	 <p>
Voici des détails importants sur ce Contrat.

Si une juridiction ayant autorité sur le présent Contrat décide qu’une ou plusieurs clauses ne sont pas exécutoires, vous et nous acceptons que cette juridiction les modifie tout en conservant leur finalité. Si la juridiction n’est pas en mesure de le faire, vous et nous acceptons de demander à la juridiction de supprimer cette partie non exécutoire et de faire appliquer le reste du Contrat.

Le présent Contrat (y compris toutes autres conditions auxquelles nous pourrions vous soumettre si vous utilisez une fonctionnalité des Services) est le seul Contrat entre nous concernant les Services. Il annule et remplace tous les Contrats antérieurs pour les Services.

Si nous n’agissons pas suite à une violation de ce Contrat, cela ne signifie pas que DB-Services renonce à faire valoir ses droits en application du présent Contrat. Vous ne pouvez pas céder ou transférer ce Contrat (ni votre adhésion aux Services ou leur utilisation) à une autre personne sans notre consentement. Toutefois, vous acceptez que DB-Services puisse céder le présent Contrat à ses sociétés affiliées ou à un acquéreur sans votre consentement. Le présent Contrat ne contient aucune stipulation pour autrui.

Vous convenez que les adresses mentionnées dans l’article 10 constituent le seul moyen de nous faire parvenir une notification juridique.
</p>	
		 </div>
 </div>


<div class="container-fluid">
		<div class="">
<h2>8. À faire et à ne pas faire sur DB-Services</h2>
<h2>8.1 À faire</h2>
        	 <p>
DB-Services est une communauté de professionnels et des particuliers. Cette liste “À faire et à ne pas faire” ainsi que nos Politiques de la communauté délimitent ce que vous pouvez faire et ne pas faire sur nos Services.<br><br>

Vous vous engagez à :<br><br>

respecter toutes les lois applicables, y compris, de manière non limitative, les lois en matière de protection de la vie privée, les lois relatives aux droits de propriété intellectuelle, les lois relatives aux e-mails non sollicités, les lois relatives au contrôle des exportations, les lois fiscales et les exigences réglementaires ;
nous communiquer des informations exactes et à les mettre à jour ;
utiliser votre nom réel sur votre profil ;
utiliser les Services de façon professionnelle.
</p>	
		 </div>
 </div>


<div class="container-fluid">
		<div class="">
<h2>8.2. À ne pas faire</h2>
        	 <p>
Vous vous engagez à ne pas :

créer une fausse identité sur DB-Services, contrefaire votre identité, créer un profil de Membre pour n’importe qui d’autre que vous-même, ou utiliser ou tenter d’utiliser le compte d’un autre ;
développer, prendre en charge ou utiliser des logiciels, des dispositifs, des scripts, des robots ou tout autre moyen ou processus (notamment des robots d’indexation, des modules d’extension de navigateur et compléments, ou toute autre technologie) visant à effectuer du web scraping des Services ou à copier par ailleurs des profils et d’autres données des Services ;
remplacer toute fonctionnalité de sécurité ou contourner ou éviter tout contrôle d’accès ou utiliser des limites de Service (comme des limitations sur des recherches de mot-clé ou des vues de profil) ;
copier, utiliser, divulguer ou distribuer toute information obtenue auprès des Services, que ce soit directement ou par le biais de tiers (tels que des moteurs de recherche), sans le consentement de DB-Services ;
divulguer des informations que vous n’avez pas l’autorisation de communiquer (comme des données à caractère personnel d’autres personnes) ;
violer les droits de propriété intellectuelle d’autrui, concernant notamment les droits d’auteur, brevets, marques, secrets commerciaux ou tout autre droit de propriété.
violer les droits de propriété intellectuelle ou d’autres droits de DB-Services, ce qui comprend, mais sans s’y limiter, l’utilisation du terme “DB-Services” ou de nos logos dans un nom commercial, une adresse e-mail ou une URL, sauf de la manière décrite dans les Consignes sur l’utilisation des marques ;
publier quoi que ce soit qui contienne des virus, vers informatiques ou tout autre code dangereux ;
faire de l’ingénierie inverse, décompiler, désassembler, déchiffrer ou, de manière générale, tenter d’obtenir le code source des Services ou de toute technologie connexe qui n’est pas en open source ;
sous-entendre ou déclarer que vous êtes affilié ou sponsorisé par DB-Services sans notre consentement exprès (par exemple, vous faire passer pour un professionnel agréé DB-Serices) ;
louer, proposer en bail, prêter, commercialiser, vendre/revendre ou monnayer autrement les Services ou données associées ou y accéder sans l’accord de DB-Services ;
créer des liens profonds vers nos Services à toute fin autre que de promouvoir votre profil ou un groupe sur nos Services, sans l’accord de DB-Services ;
utiliser des bots informatiques ou d’autres méthodes automatisées afin d’accéder aux Services, ajouter ou télécharger des contacts, envoyer ou rediriger des messages ;
surveiller la disponibilité, la performance ou la fonctionnalité des Services à des fins concurrentielles ;
utiliser la technique du “framing”, de la “mise en miroir” ou, d’une manière générale, simuler l’apparence ou le fonctionnement des Services ;
recouvrir ou modifier autrement les Services ou leur apparence (par exemple en insérant des éléments dans les Services ou en supprimant, en couvrant ou en masquant une publicité incluse sur les Services) ;
perturber le fonctionnement des Services ou imposer une charge disproportionnée sur ceux-ci (p.ex. spam, attaque par déni de service, virus, algorithme de jeu) ; et/ou
violer les Politiques de la communauté professionnelle ou toute condition supplémentaire en rapport avec un Service spécifique fourni, lors de votre inscription à un tel Service ou de votre première utilisation de ce Service, ainsi que les conditions des cartes Bing, le cas échéant.
		 </div>
 </div>


<div class="container-fluid">
		<div class="">
<h2>9. Plaintes relatives au contenu</h2>


        	 <p>
Coordonnées pour les plaintes relatives au contenu publié par nos Membres.

Nous respectons les droits de propriété intellectuelle d’autrui. Nous exigeons que les membres publient des informations exactes qui ne contreviennent pas aux droits de propriété intellectuelle de tiers. Nous disposons d’une politique et d’une procédure de plainte concernant le contenu publié par nos Membres.
</p>	
		 </div>
 </div>

<div class="container-fluid">
		<div class="">
<h2>10. Comment nous contacter</h2>

            <p>
Nos coordonnées. Notre Assistance clientèle fournit également des informations sur nos Services.
Pour les questions d’ordre général, vous pouvez nous contacter en ligne. Pour les mentions légales ou les actes de procédure, vous pouvez nous écrire à ces adresses.
            </p>	
		 </div>
 </div>
 </div>

    














