<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <p class="copyright_text">© 2021 Tout Droits Reservés. <a href="#">DB-SERVICES</a></p>
               
              
                    <a class="nav-link" routerLink="#" style="float: right;">CONTRAT D'UTILISATION</a>
                   
                    <a class="nav-link" href="#" style="float: left;">POLITIQUE DE CONFIDENTIALITE</a>
              
            </div>
        </div>
    </div>
</div>